---
import conf from "@conf"
const { view = null, style = 'text-center' } = Astro.props;
import Image from "./Image.astro";

const code = Object.entries(conf).reduce((resultado, [clave, valor]) => { 
	if (typeof valor === 'string') {
		resultado[clave] = valor.length > 80 ? valor.slice(0, 80) : valor;
	} else {
		resultado[clave] = valor; // Or handle numbers differently if needed
	}
	return resultado;
});
---
{view === null &&
		Object.entries(conf).map((item) =>
		<div class="d-inline-block p-2">
			<span class="badge bg-black text-bg-black">{item[0]}</span> <code class="mx-1 text-black">{item[1]}</code>
		</div>
		)
}
{view === 'navs-brand' && (
		<a class="d-flex justify-content-start align-items-center link" href={conf.base+'/'} title={conf.term}> 
			<div class="d-flex flex-columns justify-content-center align-items-end branding">
				<span class="lead display">&lbrace;</span><strong class="title lh-lg ">luisplis</strong><span class="lead display">&rbrace;</span>
			</div>
			<div class="d-none d-sm-inline me-auto">
					<strong class="alias">Luis Martín</strong>
					<a class="link me-1" data-ga-event="click:contacto=whatsapp" href={'https://wa.me/'+conf.chat+'?'+conf.name} title="Chatear con Luis Martín"  target="_blank" rel="noopener">
							<span class="bi bi-whatsapp" aria-hidden="true"></span>
					</a>
					<a class="link me-1" data-ga-event="click:contacto=telefono" href="tel:610523169" title="Hablar con Luis Martín" rel="noreferrer" target="_blank"> 
							626 918 451
					</a>
			</div>
		</a>
)}
{view === 'navs-info-desktop' && (
	<div class="d-flex flex-row align-items-center gap-2 me-2">
		<a class="link link-social rounded-circle m-0 p-0" href="https://github.com/luisplis/" style="width: 40px; height: 40px;" target="_blank">
			<Image class="img" src="/icons8-github.svg" width="40" height="40" alt="desarrollo web"/>
		</a>
		<a class="link link-social rounded m-0 p-0" href="https://es.linkedin.com/in/luisplis/es" style="width: 40px; height: 40px;" target="_blank">
			<Image class="img" src="/icons8-linkedin.svg" width="40" height="40" alt="desarrollo web"/>
		</a>
	</div>
)}
{view === 'navs-logo-mobile' && (
	<Image class="logo-mobile" src={conf.snap} alt={conf.term}/>
)}
{view === 'navs-info-mobile' && (
<div class={style}>
  <p>
		<a class="btn btn-info w-70" data-ga-event="click:contacto=telefono" href={'tel:'+conf.call} title={conf.term} rel="noreferrer" target="_blank">
			<span class="bi bi-telephone-outbound-fill" aria-hidden="true">&nbsp;</span>
			<span class="title">{conf.phone}</span>
		</a>
	</p>
	<p>
		<a class="btn btn-success w-70" data-ga-event="click:contacto=conf.whatsapp" href={'https://wa.me/'+conf.chat+'?text='+conf.term} title={conf.term}  target="_blank" rel="noopener">
			<span class="bi bi-whatsapp" aria-hidden="true">&nbsp;</span>
			<span class="title">{conf.whatsapp}</span>
		</a>
	</p>
	<div class="d-flex flex-row align-items-center gap-2 me-2">
		<a class="link link-social rounded-circle m-0 p-0" href="https://github.com/luisplis/" style="width: 40px; height: 40px;" target="_blank">
			<Image class="img" src="/icons8-github.svg" width="40" height="40" alt="desarrollo web"/>
		</a>
		<a class="link link-social rounded m-0 p-0" href="https://es.linkedin.com/in/luisplis/es" style="width: 40px; height: 40px;" target="_blank">
			<Image class="img" src="/icons8-linkedin.svg" width="40" height="40" alt="desarrollo web"/>
		</a>
	</div>
	<p>
		<a class="btn btn-outline-custom text-center" data-ga-event="click:contacto=mail" href={'mailto:'+conf.email} title={conf.term} target="_blank">
			<small class="title">{conf.email}</small>
		</a>
	</p>
</div>
)}
{view === 'copy' && (
<div id="copy" class="d-inline-flex justify-content-center align-items-center py-2">
	<a class="img-fluid mx-1 text-bg- hover bg-transparent" href="/#main" title="Ir al Inicio" rel="nofollow noindex" >
		<Image src={conf.favicon} alt={conf.term} class={'d-block spin mx-1 p-0'} width={32} height={32}/>
	</a>
	<div class="d-inline-block text-start">
		<span class="d-block p-0 lh-1 strong title text-bg- bg-transparent"+ title="Página MasWeb Administrada por expertos en IT y especialistas en sitios web para negocios.">
			<strong>Luis Martín © Desarollador Web</strong>
		</span>
		<span class="d-block p-0 lh-1">
			<small>
				<span class="small bg-transparent text-bg- text-opacity-50">
					Proyecto Web &raquo;
				</span>
				<a class="text-bg-transparent hover bg-transparent small link" href="https://www.masweb.es/" title={conf.term} target="_blank" >
					<strong>MasWeb Legacy</strong> con ASTRO
				</a>
			</small>
		</span>
	</div>
</div>
)}
