---
import Header from "@layouts/main/Header.astro";
import Footer from "@layouts/main/Footer.astro";
import SeoOg from "@layouts/main/SeoOg.astro";
import Analytics from "@components/Analytics.astro";
import { ClientRouter } from 'astro:transitions'; /* ViewTransitions Mode */
import { image } from '@components/Image.astro';
import '@node/bootstrap-icons/font/bootstrap-icons.css';
import conf from '@conf.ts';

let { title = conf.name+' - '+conf.term, description = conf.desc, class: className = 'main container', snap= conf.image, canonical = new URL(Astro.url.pathname, conf.site + conf.base), frontmatter = null } = Astro.props;

if (frontmatter) {
	title = frontmatter.name+' - '+frontmatter.term;
	description = frontmatter.desc;
	if(frontmatter.snap) snap = frontmatter.snap;
}
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content={conf.color} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />
		<link rel="canonical" href={canonical}/>
		<SeoOg title={title} url={canonical} description={description} snap={snap} alt={title}/>
		<link rel="icon" type="image/svg+xml" href={conf.base+'/'+image(conf.favicon)} />
		<link href={conf.base+'/bootstrap-min.css'} rel="stylesheet"/>
		<link href={conf.base+'/cookies-min.css'} rel="stylesheet"/>
		<ClientRouter/>
	</head>
	<body>
		<Header/>
		<main id="main" class={className}>
			<slot/>
		</main>
		<Footer/>
		<script src="@node/bootstrap/dist/js/bootstrap.bundle.min.js"/>
		<script src={conf.base+'/cookies.js'} data-astro-rerun is:inline/>
		<Analytics ua={conf.ua_code}/>
	</body>
</html>